# Don't track changes in these files

.DS_Store
Pods/
Podfile.lock

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Xcode Patch ###
**/xcshareddata/WorkspaceSettings.xcsettings


## User settings
xcuserdata/
*.xcuserdata
