<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699569313733-opk6ff1f9qpe5l7qu8k3sslvhcbud73m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699569313733-opk6ff1f9qpe5l7qu8k3sslvhcbud73m</string>
	<key>API_KEY</key>
	<string>AIzaSyDYHc-i68kTrFKE7RXM1tMpO3NN6KdK8qU</string>
	<key>GCM_SENDER_ID</key>
	<string>699569313733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prod.capstone.ARTranslator</string>
	<key>PROJECT_ID</key>
	<string>arttranslato</string>
	<key>STORAGE_BUCKET</key>
	<string>arttranslato.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699569313733:ios:7adf596d011aafcc9cddac</string>
	<key>DATABASE_URL</key>
	<string>https://arttranslato.firebaseio.com</string>
</dict>
</plist>